@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts.css';
@import 'root.css';
@import 'docsearch.css';

body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  @apply bg-gray-100;
  @apply text-gray-75;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-gray-1000;
}

blockquote * p {
  margin-top: 0 !important;
}

pre {
  scrollbar-width: 0;
  overflow-x: scroll;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}
