{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "eslint-comments", "jest", "promise", "unicorn", "import"],
  "extends": [
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:jest/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "get-off-my-lawn"
  ],
  "rules": {
    "prettier/prettier": "error",
    "unicorn/filename-case": 0,
    "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/button-has-type": 0,
    "react/jsx-no-literals": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "import/exports-last": 0,
    "@typescript-eslint/indent": 0,
    "react/jsx-props-no-spreading": 0,
    "unicorn/prevent-abbreviations": 0,
    "sort-keys": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/interface-name-prefix": 0
  }
}
