{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "eslint-comments",
    "jest",
    "promise",
    "import",
    "react-hooks"
  ],
  "extends": [
    "plugin:import/recommended",
    "airbnb-typescript",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:jest/recommended",
    "plugin:promise/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/button-has-type": 0,
    "react/jsx-no-literals": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "import/exports-last": 0,
    "@typescript-eslint/indent": 0,
    "react/jsx-props-no-spreading": 0,
    "sort-keys": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "jest/no-empty-title": 0,
    "jest/require-tothrow-message": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-sort-props": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "react/no-unescaped-entities": 0,
    "no-warning-comments": 0,
    "no-nested-ternary": "off",
    "no-return-assign": 0,
    "jsx-quotes": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": 0,
    "no-underscore-dangle": 0,
    "@typescript-eslint/naming-convention": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "consistent-return": 0,
    "react/require-default-props": 0,
    "func-names": 0,
    "react/jsx-pascal-case": 0,
    "no-restricted-syntax": "off",
    "react-hooks/exhaustive-deps": 0
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ]
}
