{
  "printWidth": 80,
  "arrowParens": "always",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "proseWrap": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "jsxBracketSameLine": false
}
