{
  "extends": "../.eslintrc",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "global-require": "off",
    "react/prop-types": "off"
  }
}
